" -- Basic Configuration --
imap jk <Esc>

" Leader key
let mapleader = ' '

" Vim settings
set clipboard^=unnamed
set matchpairs+=<:>
set ideajoin
set hlsearch
set ignorecase
set smartcase
set incsearch

" -- Custom Key Mappings --
" Move to the next character occurrence
noremap ' ;

" Redo
noremap U <C-r>

" Map black whole register
noremap \ "_

" Paste over without overwriting default register
xnoremap p P

" Remove search highlights
nnoremap <Esc> :nohlsearch<cr>

" -- Word Movement (CamelCase aware) --
" Move to the beginning of the next word
map w [w

" Move to the end of the next word
map e ]w

" Move to the beginning of the previous word
map b [b

" Move to the end of the previous word
map ge ]b

" -- Window/Split Management --
" Navigate splits
map <A-h> <C-w>h
map <A-j> <C-w>j
map <A-k> <C-w>k
map <A-l> <C-w>l

" Split actions
map <leader>sl <Action>(SplitVertically)
map <leader>sj <Action>(SplitHorizontally)
map <leader>su <Action>(Unsplit)
map <leader>sa <Action>(UnsplitAll)

" -- Navigation --
" Go to actions
map <leader>gc <Action>(GotoClass)
map <leader>gf <Action>(GotoFile)
map <leader>gs <Action>(GotoSymbol)
map <leader>ga <Action>(GotoAction)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gy <Action>(GotoTypeDeclaration)
map <leader>gi <Action>(GotoImplementation)
map <leader>gt <Action>(GotoTest)
map <leader>gm <Action>(GotoSuperMethod)
map <leader>gl <Action>(GotoLine)

" Usage and information
map <leader>ug <Action>(FindUsages)
map <leader>uu <Action>(ShowUsages)
map <leader>vs <Action>(ViewSource)
map <leader>im <Action>(QuickImplementations)
map <leader>td <Action>(QuickTypeDefinition)
map <leader>ti <Action>(ExpressionTypeInfo)
map <leader>gh <Action>(ShowHoverInfo)
map <leader>oo <Action>(FileStructurePopup)

" Error navigation
map <leader>en <Action>(GotoNextError)
map <leader>ep <Action>(GotoPreviousError)
map <leader>lc <Action>(JumpToLastChange)
map <leader>ll <Action>(RecentLocations)

" History navigation
map <leader><leader> <Action>(RecentFiles)
map <S-l> <Action>(Back)
map <A-[> <Action>(MethodUp)
map <A-]> <Action>(MethodDown)

" -- Search and Replace --
map <S-f> <Action>(Find)
map <S-r> <Action>(Replace)
map <leader>ff <Action>(FindInPath)
map <leader>fr <Action>(ReplaceInPath)

" -- Refactoring --
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" -- Code Actions --
map <leader>aa <Action>(ShowIntentionActions)
map <leader>sw <Action>(SurroundWith)
map <S-space> <Action>(Generate)
map <C-[> <Action>(EditorCompleteStatement)

" -- Code Formatting --
map <leader>fd <Action>(ReformatCode)
map <leader>oi <Action>(OptimizeImports)
map <leader>ra <Action>(RearrangeCode)

" -- Line/Statement Movement --
map <C-k> <Action>(MoveLineUp)
map <C-j> <Action>(MoveLineDown)
map <C-i> <Action>(MoveStatementDown)
map <C-o> <Action>(MoveStatementUp)

" -- File Operations --
map <leader>ca <Action>(CopyAbsolutePath)
map <leader>cn <Action>(CopyFileName)
map <leader>cp <Action>(CopyContentRootPath)
map <leader>fs <Action>(NewScratchFile)
map <leader>nf <Action>(NewFile)
map <leader>nd <Action>(NewDir)
map <leader>re <Action>(RenameFile)
map <leader>of <Action>(OpenFile)

" -- Editor Management --
map <leader>qq <Action>(CloseContent)
map <leader>qa <Action>(CloseAllEditors)
map <leader>ef <Action>(SelectInProjectView)
map <C-s> <Action>:w<CR>

" -- Comments --
map <leader>cl <Action>(CommentByLineComment)
map <leader>cb <Action>(CommentByBlockComment)

" -- Configuration --
map <leader>cc :edit ~/.ideavimrc<cr>
map <leader>cs :source ~/.ideavimrc<cr>:nohlsearch<cr>
map <leader>ri <Action>(RestartIde)

" -- Run/Debug --
map <leader>cr <Action>(Run)
map <leader>cd <Action>(Debug)

" -- Debugging --
" Breakpoint management
map <leader>bb <Action>(ToggleLineBreakpoint)
map <leader>bc <Action>(AddConditionalBreakpoint)
map <leader>br <Action>(Debugger.RemoveAllBreakpoints)
map <leader>ba <Action>(ViewBreakpoints)
map <leader>be <Action>(EditBreakpoint)
map <leader>bt <Action>(ToggleBreakpointEnabled)
map <leader>bm <Action>(ToggleMethodBreakpoint)

" Debug navigation
map <leader>dc <Action>(Resume)
map <leader>dj <Action>(StepOver)
map <leader>dk <Action>(StepInto)
map <leader>do <Action>(StepOut)

" Debug session management
map <leader>dd <Action>(Stop)
map <leader>dt <Action>(ActivateDebugToolWindow)
map <leader>dr <Action>(EvaluateExpression)
map <leader>dl <Action>(Rerun)

" Debug advanced
map <leader>df <Action>(Debugger.FocusOnBreakpoint)
map <leader>dh <Action>(QuickEvaluateExpression)

"" -- Code Actions and Intentions --
" Show intention actions (equivalent to Alt+Enter)
map <leader>aa <Action>(ShowIntentionActions)
